[submodule "HugoTheme"]
	path = themes/hugo-base16-theme/
    url = https://github.com/butlerx/hugo-theme-base16
[submodule "SolarTheme"]
	path = themes/solar-theme-hugo/
    url = https://github.com/bake/solar-theme-hugo/
[submodule "terminal"]
	path = themes/terminal/
    url = https://github.com/panr/hugo-theme-terminal
